<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Search</title>
    <!-- Include bootstrap.html -->
    <link href="../static/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="../static/css/bootstrap-theme.min.css" type="text/css" rel="stylesheet"/>
    <script type= "text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Winestore</a>
                </div>
            </div>
        </nav>
    </header>
    <main class="container">
        <form id="searchForm" name="searchForm" action="answer.php" method="get" role="form">
            <div class="form-group">
                <label for="wine">Wine Name</label>
                <input type="text" class="form-control" name="wine"
                       id="wine" placeholder="Enter wine name" />
            </div>

            <div class="form-group">
                <label for="winery">Winery Name</label>
                <input type="text" class="form-control" name="winery"
                       id="winery" placeholder="Enter winery name" />
            </div>

            <div class="form-group">
                <label for="region">Wine Region</label>
                <select name="region" id="region" class="form-control">
                    <!-- $BeginBlock regionListOption -->
                    <option value="${region_id}">${region_name}</option>
                    <!-- $EndBlock regionListOption -->
                </select>
            </div>

            <div class="form-group">
                <label for="grape_variety">Grape Variety</label>
                <select name="grape_variety" id="grape_variety" class="form-control">
                    <!-- $BeginBlock varietyListOption -->
                    <option value="${variety_id}">${variety_name}</option>
                    <!-- $EndBlock varietyListOption -->
                </select>
            </div>

            <div class="form-group">
                <label for="year">Year</label>
                <select name="year" id="year" class="form-control">
                    <!-- $BeginBlock wineYearListOption -->
                    <option value="${year}">${year}</option>
                    <!-- $EndBlock wineYearListOption -->
                </select>
            </div>

            <button type="submit" class="btn btn-default">Submit</button>
            <button type="reset" class="btn btn-default">Reset</button>
        </form>
    </main>
    <footer>

    </footer>


</body>
</html>